keyboard==0.13.5
mem_edit==0.7
mouse==0.7.1
MouseInfo==0.1.3
mss==9.0.1
numpy==1.26.4
opencv-python==4.9.0.80
packaging==23.2
pillow==10.2.0
psutil==5.9.8
PyAutoGUI==0.9.54
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
pytesseract==0.3.10
python-imagesearch==1.3.0
python3-xlib==0.15
pytweening==1.1.0
pywin32==306
screeninfo==0.8.1